MONGODB_URI=mongodb+srv://resume_user:secure_password123@resume-cluster.ok8eyca.mongodb.net/resume_app?retryWrites=true&w=majority
MONGODB_DB=project
JWT_SECRET="84d1e129e4f13a694b899687b2c30b73c062601b1efb59e19dcb9d1e2cb3844f7c4d21cc631b99f1dd6db1b04f93a51ff4f8e066da1caa8a34adcb6a2f770e57"
ADMIN_EMAIL=admin@example.com